* {
    color: white;
}

.complaint-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 100px;
    .complaint-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 80%;
        padding: 30px;
        background-color: var(--bg-primary);
        opacity: 90%;
        border-radius: 20px;
        color: white;
        h4 {
            text-align: center;
            font-size: 18px;
            margin:0 0 20px 0;
        }
        .form-inputs {
            display: flex;
            flex-direction: column;
            width: 100%;
            .data-denunciante {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                h5 {
                    font-size: 16px;
                    text-align: center;
                    margin-bottom: 10px;
                }
                input {
                    width: 100%;
                    background-color: var(--bg-primary);
                    padding: 10px;
                    border-radius: 5px;
                    margin-bottom: 16px;
                    border: 1px solid white;
                    font-size: 18px;
                }
                input::placeholder {
                    color: rgb(228, 228, 228);    
                }
            }
            .data-denunciado {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                h5 {
                    font-size: 16px;
                    text-align: center;
                    margin-bottom: 10px;
                }
                input {
                    width: 100%;
                    background-color: var(--bg-primary);
                    padding: 10px;
                    border-radius: 5px;
                    margin-bottom: 16px;
                    border: 1px solid white;
                    font-size: 18px;
                }
                input::placeholder {
                    color: rgb(228, 228, 228);    
                }
                textarea {
                    width: 100%;
                    background-color: var(--bg-primary);
                    padding: 10px;
                    border-radius: 5px;
                    margin-bottom: 16px;
                    border: 1px solid white;
                    font-size: 18px;
                }
                textarea::placeholder {
                    color: rgb(228, 228, 228);    
                }
            }
            
        }
        button {
            width: 50%;
            background: white;
            border: none;
            color: var(--bg-primary);
            padding: 10px;
            margin-bottom: 10px;
            font-size: 16px;
        } 
    }   
}

@media (min-width:650px) {
    .complaint-container {
        .complaint-form {
            width: 70%;
            padding: 40px;
            .form-inputs {
                flex-direction:row;
                width: 100%;
                justify-content: space-between;
                .data-denunciante {
                    width: 47%;
                    
                }
                .data-denunciado {
                    width: 47%;
                    input {
                        margin-bottom: 13px;
                    }
                }
            }
        }
    }
}